.product_form {
    display: grid;
    grid-template-columns: 7% 30%;
    margin: 1.2rem 0;
    gap: 1rem;
    place-items: left;
}

.disabled {
    opacity: 0.5;
}

.img_btn {
    position: relative;
    height: 100%;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .product_form {
        grid-template-columns: 30% 60%;
    }
}