.top_part {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
}

.top_part h1 {
    margin-left: 1.2rem;
}

.btn_holder {
    width: 20%;
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1.2rem;
    height: 50px;
}

.btn_holder .btn {
    margin-top: 4px;
}

.disabled {
    opacity: 0.5;
}

.img_btn {
    position: relative;
    height: 100%;
    opacity: 1;
}

@media screen and (max-width: 1350px) {
    .btn_holder { 
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    .btn_holder { 
        width: 40%;
    }
}

@media screen and (max-width: 570px) {
    .top_part {
           flex-direction: column;
    }
    .btn_holder { 
        position: relative;
        width: 70%;
        justify-content: center;
    }
}
